/* Header */

.Header {
	min-height: 50vh;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.is-landscape .Header {
	height: 100vh;
	width: 33.333333333%;
	position: fixed;
	float: left;
}