/* Menu */

.Menu,
.MenuItem {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.Menu {
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.is-portrait .Menu--main {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	padding: 0 0 1em;
}

.is-portrait .Menu--portrait-centered {
	-webkit-align-items: center;
	align-items: center;
}

.MenuItem-select-area {
	/*text-align: right;*/
	/*width: 100%;*/
	padding: .5em 1.125em;
}

a.MenuItem-select-area {
	cursor: pointer;
}

.MenuItem-select-area:hover {
	color: #d50000;
}

.is-active.MenuItem-select-area {
	color: #b71c1c;
	/*padding-right: 1em;*/
	/*background-color: #d50000;*/
	/*color: #ffffff;*/
	border-right: solid .375em #d50000;
}

.MenuItem span {
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (max-height: 24em) {

	.MenuItem-select-area {
		padding: .375em 1em;
	}

}

@media (max-height: 21em) {

	.MenuItem-select-area {
		padding: .1em 1em;
	}
}

@media (max-height: 21em) {

	.MenuItem-select-area {
		padding: .1em 1em;
	}

}

@media (min-width: 96em) {

	.MenuItem span {
		font-size: 1.125em;
	}

	.MenuItem-select-area {
		padding: .5em 2.25em;
	}

}