/* Main Elements */

.Main .Paragraph,
.is-portrait .Main .Paragraph--half {
	width: 100%;
}

.Main .Paragraph--half {
	width: 50%;
}

.Main h1 {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: .5em;
	font-size: 3em;
}

.Main h1.centered {
	text-align: center;
}

.Main p {
	font-size: 1em;
	text-align: justify;
	margin: 0 auto 1em;
	max-width: 21em;
}

@media (min-height: 24rem) {

	.Main p {
		font-size: 1.125em;
	}

}

@media (max-width: 21rem) {

	.Main h1 {
		font-size: 2.25em;
		font-weight: 400;
	}

}

@media (max-width: 36rem) {

	.Main p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}

}

@media (min-width: 48rem) {

	.Main h1 {
		font-size: 3.75em;
	}

}

@media (min-width: 48rem) {

	.Main h1 {
		font-size: 4.5em;
	}

}