/* Social */

.Social,
.SocialItem {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.Social {
	width: 100%;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	padding: 1.125em;
}

.is-portrait .Social {
	-webkit-justify-content: center;
	justify-content: center;
}

.SocialItem {
	padding: 0 0 0 .5em;
}

.SocialItem-select-area {
	padding: .5em 0;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: transparent;
}

.SocialItem-icon:before {
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-ms-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}

.SocialItem-select-area:hover {
	border-bottom-color: #d50000;
}

.SocialItem-select-area:hover .SocialItem-icon:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

@media (max-height: 24em) {

	.Social {
		display: none;
		padding: 0 1em;
	}

}

@media (min-width: 96em) {

	.Social {
		padding: 2.25em;
	}

}