.Gallery {
	height: 100%;
	width: 500%;
	overflow: hidden;
	position: relative;
}

.GalleryContent {
	display: inline-block;
	height: 100%;
	overflow: hidden;
	position: absolute;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-ms-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}