.Logo {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.Logo--header {
	-webkit-transition: min-height .6s ease-in-out;
	-moz-transition: min-height .6s ease-in-out;
	-ms-transition: min-height .6s ease-in-out;
	-o-transition: min-height .6s ease-in-out;
	transition: min-height .6s ease-in-out;
	min-height: 0;
}

.is-portrait .Logo--header {
	min-height: 33.33333vh;
}

.is-splashing .Logo--header {
	min-height: 100vh;
}

.Logo-select-area {
	padding: 1.125em 0;
}

.Logo-svg {
	width: 12em;
}

.Logo-svg-main,
.Logo-svg-mark {
	display: none;
}

.Logo-svg {
	fill: #ffffff;
}

.RaizDoBrasilTypeDo,
.RaizDoBrasilTypeRaiz,
.RaizDoBrasilLogo_lineRaiz,
.RaizDoBrasilTypeBrasil,
.RaizDoBrasilLogo_lineGreen,
.RaizDoBrasilLogo_lineYellow {
	opacity: 1;
	-webkit-transition: opacity 1.5s ease .2225s;
	-moz-transition: opacity 1.5s ease .2225s;
	-ms-transition: opacity 1.5s ease .2225s;
	-o-transition: opacity 1.5s ease .2225s;
	transition: opacity 1.5s ease .2225s;
}

.Splash.is-visible .RaizDoBrasilTypeDo,
.Splash.is-visible .RaizDoBrasilTypeRaiz,
.Splash.is-visible .RaizDoBrasilLogo_lineRaiz,
.Splash.is-visible .RaizDoBrasilTypeBrasil,
.Splash.is-visible .RaizDoBrasilLogo_lineGreen,
.Splash.is-visible .RaizDoBrasilLogo_lineYellow {
	opacity: 0;
}

.RaizDoBrasilTypeDo {
	fill:#726658;
}

.RaizDoBrasilTypeRaiz,
.RaizDoBrasilLogo_lineRaiz {
	fill:#594A42;
}

.RaizDoBrasilTypeBrasil {
	fill:#C2B59B;
}

.RaizDoBrasilLogo_lineGreen {
	fill:#009D5F;
}
.RaizDoBrasilLogo_lineYellow {
	fill:#E3D200;
}

@media (max-height: 24em) {

	.Logo--header {
		padding: 6em 0;
	}

	.Logo-select-area {
		padding: 2.25em 0;
	}

}

@media (min-width: 96em) {

	.Logo-svg {
		width: 21em;
	}

	.Logo-select-area {
		padding: 3em 0;
	}

}