/* Main */

.Main {
	width: 100%;
	-webkit-transition: opacity .75s ease .75s, height 2s ease 0s;
	-moz-transition: opacity .75s ease .75s, height 2s ease 0s;
	-ms-transition: opacity .75s ease .75s, height 2s ease 0s;
	-o-transition: opacity .75s ease .75s, height 2s ease 0s;
	transition: opacity .75s ease .75s, height 2s ease 0s;
	position: relative;
	overflow: hidden;
}

.is-splashing .Main {
	opacity: 0;
}

.is-landscape .Main {
	background-color: #C1B89C;
	background-image: url("../img/background-texture-01.png");
	background-position: center;
	background-repeat: repeat-x;
}
